#details-page h1 {
  margin: 10px 0;
  padding-left: 8px;
}
#details-page h2 {
  font-size: 2em;
  padding-left: 8px;
  background-color: white;
}
#details-page h3 {
  font-size: 1.5em;
  padding-left: 8px;
}

#details-page tr.all-columns {
  background-color: white !important; 
  border: none;
}
#details-page tr.all-columns td {
  border-top: none !important;
  padding-left: 0 !important;
}

#details-page .table {
  width: 100%;
}
#details-page .table td {
  font-size: 0.9em;
}
#details-page .table>thead>tr>td, .table>tbody>tr>td {
  padding: 2px 8px;
}
#details-page .name{
  font-weight: bold;
}
#details-page .notused{
  color:#ddd;
}
#details-page .noname{
  color:#800;
}
#details-page #map {
  width:100%;
  min-height: auto;
  height:300px;
  border: 1px solid #666;
}
#details-page .mapicon {
  margin: 10px 0;
}
