.top-bar {
  width: 100%;
  padding: 1em 15px;
}

.top-bar #q {
  max-width: 500px;
}

.tab-content {
  border: 1px solid #ddd;
  border-top: none;
}

form #q {
  min-width: 500px;
}
@media (max-width: 850px) {
  form #q {
    min-width: 400px;
  }
}

#reverse-page form label {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.search-type-link {
  display: inline;
  margin-right: 2em;
  position: absolute;
  right: 0
}

#switch-coords {
  font-size: 0.6rem;
  font-weight: bold;
  cursor: pointer;
  padding: 2px;
  margin: 5px;
}

.sidebar {
  width: 25%;
  padding: 15px;
  padding-top: 0;
  display: inline-block;
  float: left;
}


#map-wrapper {
  position: relative;
  min-height: 700px;
  width: 75%;
  padding-right: 20px;
  display: inline-block;
  float: left;
}

#map {
  height: 100%;
  min-height: 700px;
  background:#eee;
}

#map-position {
  display: none;
  position: absolute;
  top: 0;
  right: 20px;
  padding: 0 5px;
  color: #333;
  font-size: 11px;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1000;
}

#map-position-close {
  text-align: right;
}

.result {
  font-size: 0.8em;
  margin: 5px;
  margin-top:0px;
  padding: 4px 8px;
  border-radius: 2px;
  background:#F0F7FF;
  border: 2px solid #D7E7FF;
  cursor:pointer;
  min-height: 5em;
}


.result.highlight {
  background-color: #D9E7F7;
  border-color: #9DB9E4;
}
.result.highlight .details {
  margin: 10px auto;
  display: block;
  max-width: 10em;
  padding: 1px;
}
.result img{
  float: right;
}
.result .type{
  color: gray;
  font-size: 0.8em;
}
.result .details {
  display: none;
}

.result .coords {
  display: none;  
}

.noresults{
  text-align: center;
  padding: 1em;
}

.more{
  text-align:center;
  margin-top: 1em;
}

@media (max-width: 768px) {
  #content {
    top: 0;
    position: relative;
  }
  #map-wrapper {
    width: 100%;
    max-height: 300px;
    padding: 20px;
  }
  #map-position {
    top: 20px;
    right: 20px;
  }
  #map {
    height: 300px;
  }
  .sidebar {
    width: 100%;
  }
  .search-button-group {
    display: inline;
  }
}

label {
  font-weight: normal;
}